{% include 'recipes/partials/head.html' %}

<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="recipe recipe-llist-item">
                <dif class="recipe-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
                </dif>
                <h1>oi</h1>
            </div>
        </div>
    </main>


</body>


</html>